/* css styles */
.navbar-logo {
  max-height: 48px;
}

#quarto-announcement .quarto-announcement-content a {
  color: #131212;
}

#quarto-announcement .quarto-announcement-content a:hover {
  color: #131212;
}